In [6]:
import pandas as pd
df=pd.DataFrame()
#missing data in each column
df.isnull().sum()

Series([], dtype: float64)

In [5]:
#missing data in all the dataframe
df.isnull().sum().sum()

0.0

In [7]:
#drop missing values
df.dropna(axis=0, how='any', thresh=None, inplace=False)

Empty DataFrame
Columns: []
Index: []

In [11]:
import numpy as np
my_numpy_array=np.random.randn(3,4)
df=pd.DataFrame(my_numpy_array, columns=list("abcd"))

#fill nan for numerical data #mean, median, mode
df['a'].fillna(df['a'].mean(), inplace=True)

In [13]:
#count number of existance of each value
print(df['a'].value_counts())

#fill nan for categorical data 
df['a'].fillna('some value', inplace=True)

-1.425272    1
-0.607210    1
-0.355608    1
Name: a, dtype: int64

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   a       3 non-null      float64
 1   b       3 non-null      float64
 2   c       3 non-null      float64
 3   d       3 non-null      float64
dtypes: float64(4)
memory usage: 224.0 bytes

In [16]:
df['a'].values

array([-0.35560769, -0.60721013, -1.4252721 ])

In [20]:
#convert categorical data to numerical using label encoder of sklearn
from sklearn.preprocessing import LabelEncoder
encoder=LabelEncoder()
df['a']=encoder.fit_transform(df['a'])
df['a']

0    2
1    1
2    0
Name: a, dtype: int64

In [27]:
#convert categorical data to numerical using dictionnary
cleanup={1:'11', 2:'22', 0:'00'}
df1=df.replace(cleanup, inplace=False)
df1

    a         b         c         d
0  22 -1.818287  0.394404 -0.550643
1  11  0.631296  1.333514  1.557366
2  00 -0.126272  0.811485 -1.258021

In [37]:
df['c'][0]='red'
df['c'][1]='green'
df['c'][2]='yellow'
df

<ipython-input-37-c9901043f7cd>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['c'][0]='red'
C:\Users\USER\anaconda3\lib\site-packages\pandas\core\indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
<ipython-input-37-c9901043f7cd>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['c'][1]='green'
<ipython-input-37-c9901043f7cd>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['c'][2]='yellow'

   a       c         d
0  2     red -0.550643
1  1   green  1.557366
2  0  yellow -1.258021

In [39]:
#one hot encoding code
one_hot=pd.get_dummies(df['c'])
df_new=df.drop('c', axis=1)
df_new=df_new.join(one_hot)
df_new

   a         d  green  red  yellow
0  2 -0.550643      0    1       0
1  1  1.557366      1    0       0
2  0 -1.258021      0    0       1